<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>636360396662-9l92oic6irig1e6297cmdi2b1ce5hfja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636360396662-9l92oic6irig1e6297cmdi2b1ce5hfja</string>
	<key>API_KEY</key>
	<string>AIzaSyA_v08HssPiuhnB-c6eHujVkFO7l7xT8kg</string>
	<key>GCM_SENDER_ID</key>
	<string>636360396662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Genisys.Project-MLKit</string>
	<key>PROJECT_ID</key>
	<string>project-mlkit</string>
	<key>STORAGE_BUCKET</key>
	<string>project-mlkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636360396662:ios:ba41d4bd3b2e2f3e</string>
	<key>DATABASE_URL</key>
	<string>https://project-mlkit.firebaseio.com</string>
</dict>
</plist>